html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 768px;
  margin: auto;
}

.header-wrap {
  text-align: center;
}

.header-title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
  display: inline-block;
  background-color: #fafafa;
  position: relative;
  font-weight: 500;
  margin-top: 40px;
}

.header-title::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #e7c778;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: 6px;
}

.header-title::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #e7c778;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  bottom: 6px;
}

.question-card {
  background-color: #ffffff;
  box-shadow: 0 3px 20px 7px rgba(130, 130, 130, 0.03);
  border-radius: 35px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 268px;
}

.question-card__subtitle {
  font-size: 16px;
  color: #5a5a5a;
  text-transform: capitalize;
}

.question-card__main-content {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.question-card--animate {
  animation-name: animate;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.main-button {
  background: #e7c778;
  box-shadow: 0 2px 6px 2px rgba(145, 145, 145, 0.4);
  border-radius: 32px;
  font-size: 20px;
  width: calc(100% - 60px);
  margin-left: 30px;
  border: 0;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  color: #000000 !important;
  text-decoration: none;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
